<div class="home">
    <div class="home1">
        <div class="text">
            <p class="big">Hello there</p>
            <p class="small">Get to know us, what we do and why we do it!!</p>
        </div>
    </div>
  
    <div class="home2 custom-shape">
        <div class="home2-elements">
            <div class="player2">
                <img src="../../assets/Images/Privacy.png" />
            </div>
            <div class="text">
                <p class="small2">About</p>
                <div class="EMP">
                    <p class="big2">EMP</p>
                    <img class="fraud" src="../../assets/Images/fraud.png" />
                </div>
                <p class="about">
                    Welcome to our Employee Management System! Our project focuses on streamlining and optimizing the management of employee information and operations. By automating tasks such as tracking employee details, managing payroll, and evaluating performance, our system aims to enhance productivity and ensure smooth HR processes. Our goal is to provide a comprehensive and efficient solution for managing your workforce effectively.
                </p>
            </div>
        </div>
    </div>
  
    <div class="home4">
        <p class="Services">Services</p>
        <div class="cards">
            <div class="article" id="a1">
                <p class="title" id="t1">Who ?</p>
                <p class="hdra">
                    Our Employee Management System is designed for organizations of all sizes looking to streamline their HR processes. Whether you are a small business or a large corporation, our solution caters to your needs by providing an easy-to-use and scalable platform.
                </p>
            </div>
            <div class="article" id="a2">
                <p class="title" id="t2">What ?</p>
                <p class="hdra">
                    Our system provides a comprehensive solution for managing employee information, including personal details, job roles, payroll, and performance evaluations. It automates various HR tasks, reducing manual effort and minimizing errors.
                </p>
            </div>
            <div class="article" id="a3">
                <p class="title" id="t3">Why ?</p>
                <p class="hdra">
                    Efficient management of employee data is crucial for any organization. Our Employee Management System ensures accurate record-keeping, enhances productivity, and helps in making informed decisions by providing valuable insights into the workforce. It ultimately leads to a more organized and effective HR department.
                </p>
            </div>
        </div>
    </div>
  
    <div class="home3">
        <p class="Services">Contact</p>
        <div class="article2">
            <div class="text2">
                <p class="small2">Email Us :</p>
                <p class="smaller2"><a href="#">emp.morocco&commat;gmail.ma</a></p>
  
                <p class="small2">Call Us :</p>
                <p class="smaller2">+212-522-022023</p>
  
                <p class="small2">Find Us :</p>
                <p class="smaller2">Casablnaca, Morocco</p>
  
                <p class="small2">LinkTree :</p>
                <p class="smaller2">
                    <a href="#" class="smalllink">https://linktr.ee/EMP</a>
                </p>
            </div>
        </div>
    </div>
</div>
