<div class="home">
    <div class="home1">
        
        <div class="text">
            
            <p class="big" >  Welcome <span style="color: #FFBF00">EMP</span>Management</p>
           
            <p class="small"> Emp </p>

            <button class="bouton" routerLinkActive="active" ariaCurrentWhenActive="page"  routerLinkActive="active" routerLink="/Employees"   >Get Started </button>

        </div>
        
        <div class="player">
            <img src="../../assets/Images/rafiki.png">
        </div>
    
    </div>
    <div class="home2 custom-shape ">
       <div class="home2-elements">
       
            <div class="player2">
                <img src="../../assets/Images/rafiki2.png">
            </div>   
            <div class="text">
                
                <p class="small2">About</p>

                <div class="emp">
                    <p class="big2">EMP Management</p>
                   
                </div>
                <p class="about">

                   
                    Welcome to our employee management solution! Our project focuses on enhancing the flow of employees managemnt by enabling the adminitrator to add, update and delete employees.</p>
        </div>
    </div>
        

    </div>
 
    
    </div>

    <router-outlet></router-outlet>