

<div class="footer">
    <div class="credits">All rights reserved &commat;FM</div>

     <div class="line">  
        <div class="leftline"></div>       
        <div class="logo">
            <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page" ><img id="logo" src="../../assets/Images/LOGO.png" ></a>
        </div> 
        <div class="rightline"></div>
    </div> 
    
    <div class="icons">
        <a href="#" class="fa facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="fa instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#" class="fa twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="fa linkedin"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>